<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Eventos</title>
    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster|Yanone+Kaffeesatz" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>

  <body>
    <header class="header-fixed">
      <div class="container">
        <div class="header-block">
          <img id="logo-fixed" src="../images/logo.png" alt="Petips">
          <strong id="brand">Petips</strong>
        </div>
        <div class="header-block" id="usuario">
          <!-- <h4 id="userName">hola</h4>-->
          <input id="btnLogout" type="button" class="btn btn-outline-light" value="Cerrar sesión">
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-9">
          <div class="card">
            <div class="card-header">
              <h1>Eventos</h1>
            </div>
          </div>
        </div>
        <!-- Menú -->
        <div class="col-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="Comentarios.html">
                <img src="../images/home.png" alt="Inicio">
                <h6 class="nav-link">Inicio</h6>
              </a>
            </li>
            <li class="nav-item">
              <a href="Perfil.html">
                <img src="../images/family.png" alt="Perfil">
                <h6 class="nav-link">Mi perfil</h6>
              </a>
            </li>
            <li class="nav-item">
              <a href="Especialista.html">
                <img src="../images/stethoscope.png" alt="Especialista">
                <h6 class="nav-link">Consulta un especialista</h6>
              </a>
            </li>
            <li class="nav-item">
              <a href="DIY.html">
                <img src="../images/crayon.png" alt="DIY">
                <h6 class="nav-link">DIY</h6>
              </a>
            </li>
            <li class="nav-item">
              <a href="Tienda.html">
                <img src="../images/online-shop.png" alt="Tienda">
                <h6 class="nav-link">Tienda</h6>
              </a>
            </li>
            <li class="nav-item">
              <a href="Eventos.html">
                <img src="../images/appointment.png" alt="Eventos">
                <h6 class="nav-link">Proximos eventos</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Conexion firebase -->
  	<script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
  	<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-auth.js"></script>
    <!-- JS local -->
    <script type="text/javascript" src="../js/data.js"></script>
  </body>

</html>
