#animated-background {
  width: 100%;
  height: 100%;
  background-image: url('../images/fondo2.png');
  background-size: 40%;
  animation: movimiento 35s infinite linear alternate;
  position: relative;
}
@keyframes movimiento {
  from {
    background-position: bottom left;
  } to {
    background-position: top right;
  }
}
/*.capa-gradient {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(left, #000000ad, #4990ce);
  opacity: 0.5;
}*/
.register {
  margin: 1.5% 0 0 0;
  text-align: center;
  width: 270px;
}
#new {
  background: #fff;
  padding: 10px;
}
.modal {
  text-align: left;
}
.logo {
  border-radius: 100%;
  background: #fff;
  margin: -70px auto 0;
  width: 50%;
}
strong {
  font-family: 'Lobster', cursive;
}
.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  border-radius: 25px;
}
.snlogin {
  height: 30px;
}
.container-dialog {
  bottom: 0px;
  left: 70%;
  position: absolute;
}
.container-marc {
  position: relative;
  padding: 10px;
  min-width: 250px;
  min-height: 250px;
  width: auto;
  height: auto;
  margin-left: 25px;
  border-radius: 50% 50% 50% 10%;
  display: flex;
  flex-direction: column;
  background-color: #840899b0;
  color: #fff;
}
.container-info {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 25px;
  text-align: left;
}
@media only screen and (max-width: 900px) {

}

/* Seccion de comentarios */
.header-fixed {
  background: #840899;
  color: #fff;
}
.header-content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.header-block {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  padding: 0 15px;
}
#logo-fixed {
  width: 55px;
  background: #fff;
  border-radius: 100%;
  margin: 10px 0;
}
#brand {
  font-size: 30px;
  margin-left: 5px;
  vertical-align: middle;
}
#usuario {
  text-align: right;
}
#coments-card {
  margin: 15px 0;
  padding: 10px;
}
